/* =========================
   GLOBAL STYLE
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#080808;
    color:white;
}


/* =========================
   NAVBAR
========================= */

.navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 10%;
    background:#050505;
    border-bottom:1px solid #151515;
}


.logo{
    display:flex;
    align-items:center;
}

.logo img{
    height:70px;
    width:auto;
}


.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}


.nav-links a{
    color:white;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}


.nav-links a:hover{
    color:#1e90ff;
}



/* =========================
   HERO SECTION
========================= */

.hero{

    min-height:90vh;

    display:flex;
    align-items:center;

    padding:0 10%;

    background:
    linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.9)
    );

}


.hero-content{

    max-width:750px;

}


.hero h1{

    font-size:70px;
    line-height:1.1;

    color:white;

}


.hero h1 span{

    color:#1e90ff;

}


.hero p{

    margin-top:25px;

    color:#cfcfcf;

    font-size:20px;

    line-height:1.6;

}



/* =========================
   BUTTONS
========================= */

.buttons{

    margin-top:35px;

}


.btn,
.btn2{

    display:inline-block;

    padding:15px 35px;

    border-radius:8px;

    text-decoration:none;

    font-size:16px;

    transition:0.3s;

}


.btn{

    background:#1e90ff;

    color:white;

    margin-right:15px;

}


.btn:hover{

    transform:scale(1.05);

}



.btn2{

    border:2px solid #1e90ff;

    color:white;

}


.btn2:hover{

    background:#1e90ff;

}



/* =========================
   FEATURED PRODUCTS
========================= */

.products{

    padding:80px 10%;

    text-align:center;

}


.products h2{

    font-size:40px;

    margin-bottom:40px;

    color:white;

}


.product-container{

    display:flex;

    gap:25px;

    justify-content:center;

    flex-wrap:wrap;

}


.product-card{

    background:#111;

    border:1px solid #222;

    padding:30px;

    width:300px;

    border-radius:15px;

    transition:0.3s;

}


.product-card:hover{

    transform:translateY(-10px);

    border-color:#1e90ff;

}


.product-card h3{

    color:#1e90ff;

    margin-bottom:15px;

}


.product-card p{

    color:#ccc;

}



/* =========================
   FOOTER
========================= */

footer{

    padding:30px;

    text-align:center;

    background:#050505;

    color:#777;

}



/* =========================
   MOBILE
========================= */

@media(max-width:800px){

    .hero h1{

        font-size:45px;

    }


    .nav-links{

        display:none;

    }


    .hero{

        padding:0 5%;

    }

}
